<ion-content>
  <div class="flex-center0">
    <ion-card>
      <ion-card-header>
    
        <ion-card-subtitle>STUDENT LOGIN</ion-card-subtitle>
      </ion-card-header>
      <ion-button color="success" size="full">Login</ion-button> 
    </ion-card>
    </div>
</ion-content>
      






<ion-content>
  <div class="flex-center1">
    <ion-card>
      <ion-card-header>
    
        <ion-card-subtitle>STAFF LOGIN</ion-card-subtitle>
      </ion-card-header>
      <ion-button color="success" size="full">Login</ion-button> 
    </ion-card>
  </div>
</ion-content>
  
<ion-content>
  <div class="flex-center2">
    <ion-card>
      <ion-card-header>
    
        <ion-card-subtitle>ADMIN LOGIN</ion-card-subtitle>
      </ion-card-header>
      <ion-button color="success" size="full">Login</ion-button> 
    </ion-card>
  </div>
</ion-content>
    
